# -----------------------------------------------------------------------------
# Site info
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SITE_URL=https://dailycryptic.org
NEXT_PUBLIC_LOCALE_DETECTION=false
NEXT_PUBLIC_OPTIMIZED_IMAGES=false
# Optional: limit archive list display count during prelaunch
# MINUTE_CRYPTIC_ARCHIVE_VISIBLE_COUNT=2

# -----------------------------------------------------------------------------
# Analytics
# Google Analytics: https://analytics.google.com/analytics/web/
# Baidu Tongji: https://tongji.baidu.com/
# Plausible: https://plausible.io/
# -----------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ID=G-ZHSFGT2YG5
NEXT_PUBLIC_BAIDU_TONGJI=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
NEXT_PUBLIC_PLAUSIBLE_SRC=

#------------------------------------------------------------------------
# Ads
# Google Adsense: https://www.google.com/adsense/
#------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ADSENSE_ID=
